/*************************
pseudo-classes only
*********************************/

li {
	list-style-type: none;
}

span {
	display: block;
	border: 1px solid black;
	margin: 25px;
}

section:nth-of-type(even){
	border: 1px solid black;


};